@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext'
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'

*
  font-family 'Lato', sans-serif !important

body
  background white !important
  font-family 'Lato', sans-serif !important

#top-menu
  display none !important

#header
  background #55739A !important

// WEEK VIEW

.mv-daynames-table
.view-cap
.view-container-border
  background transparent !important

#calendarTabs1
  padding-right 1em

#calendarTitle
  display none !important

.nav-table
  height 53px

// TABS
.ui-rtsr-unselected
  background none !important
  color #333 !important

.ui-rtsr-name
  padding 6px 14px 6px 14px !important
  border-radius 5px

.ui-rtsr-selected
  background #f4f4f4 !important

.ui-rtsr-selected.t1-embed
.ui-rtsr-selected.t2-embed
  display none !important

.calendar-nav
  display none

.tab-name
  cursor pointer
  padding 2px 9px 0 7px

.mv-daynames-table
  color #333 !important

.st-dtitle
  padding 4px 8px 0 0 !important
  font-size 15px
  font-weight 300
  background none !important

.te-t
  margin-right .5em

.st-c-pos
  background #f4f4f4
  line-height 1.8em

.today-button
  background #f4f4f4
  border none
  font-size 100% !important
  line-height 2.3em
  padding 0 1em !important
  margin 0 1em
  border-radius 5px
  cursor pointer
  outline 0 !important

.date-top
  font-weight normal !important
  font-size 14px

.view-container-border
  padding 0 !important

.mv-event-container
  top 28px !important
  border-bottom none !important
  border-top 1px solid #ddd !important

.footer
  display none

// .navbutton
//   background-image none !important
// .navBack:after
//   display inline-block
//   position absolute
//   content : "◀"
// .navForward:after
//   display inline-block
//   position absolute
//   content : "▶"

// AGENDA

.agenda .date-label
  background none !important

.agenda .day
  border-bottom 1px solid #e8e8e8 !important
  padding-top .6em

.agenda .event
  color #888
  border 0 !important
  padding .5em 1em

.agenda .event-links
  margin-left 0 !important

.agenda .event-links a
  color #333
  background #f4f4f4
  padding .3em .7em
  margin .5em 1em 0 -0.4em
  display inline-block
  font-size .95em
  border-radius 3px
  text-decoration none

.agenda .title-wrapper
  margin 0 0 0 5em !important

.agenda .all-day .title-wrapper
  margin 0 !important

.agenda .scrollbox
  padding 0 1em

.event-details-label
  width 5.5em

// WEEK VIEW

.wk-weektop
  background none !important
.wk-dayname
  color #333 !important
.wk-scrolltimedevents
  border-top 1px solid #e8e8e8 !important
