
@import "variables"

body
  padding 0
  margin 0

.main
  display flex
  flex-direction row
  -webkit-app-region no-drag

.sidebar
  width 100px
  background #55739a
  padding 2em 0
  -webkit-app-region drag
  li
    position relative
  a
    cursor default
    display block
    line-height 2em
    padding 1em
    color #555
    -webkit-app-region no-drag
    opacity .7
    -webkit-filter invert()
    &:hover
    &:focus
      text-decoration none
    &.active
      -webkit-filter none
      opacity 1
      background #55739a
    &.active:after
      content " "
      position absolute
      width 0
      height 0
      border-top 10px solid transparent
      border-bottom 10px solid transparent
      border-right 10px solid white
      right 0
      top 20px
    img
      width 35px
  ul
    padding 0
    list-style-type none
    text-align center

webview
  width 0
  height 0
  opacity 0
  pointer-events none
  // transition opacity .1s

webview.active
  flex-grow 5
  opacity 1
  pointer-events auto
  width 80vw
  height 100vh
