
@import "variables"

body
  padding 0
  margin 0
  background transparent

.main
  display flex
  flex-direction row
  -webkit-app-region no-drag

.main > .titlebar
  position fixed
  top 0
  right 0
  left 0
  height 30px
  text-align center
  line-height 30px
  -webkit-app-region drag

.sidebar
  width 80px
  background #eaeaea
  background #55739a
  padding 3em 0
  -webkit-app-region drag
  li
    position relative
  a
    cursor default
    display block
    line-height 2em
    padding 1em
    color #555
    -webkit-app-region no-drag
    opacity .5
    img
      -webkit-filter invert()
    &:hover
    &:focus
      text-decoration none
    &.active
      opacity 1
      img
        -webkit-filter none
    &.active:after
      content " "
      position absolute
      width 0
      height 0
      border-top 10px solid transparent
      border-bottom 10px solid transparent
      border-right 10px solid white
      right 0
      top 20px
    img
      width 35px
  ul
    padding 0
    list-style-type none
    text-align center

webview
  width 0
  height 0
  opacity 0
  pointer-events none
  // transition opacity .1s

webview.active
  flex-grow 5
  opacity 1
  pointer-events auto
  width calc(100vw - 80px)
  margin-top 30px
  height calc(100vh - 30px)

.hidden
  opacity 0
  pointer-events none

body .sidebar a.backbutton
  transition .4s
