.app__body .post.current--user .post__body
.app__body .post.post--comment.other--root.current--user .post-comment
.app__body pre
.app__body .post-right__container .post.post--root
  background transparent !important
