primary-color = #0062A6

.app__body .post.current--user .post__body
.app__body .post.post--comment.other--root.current--user .post-comment
.app__body pre
.app__body .post-right__container .post.post--root
.app__body .post:hover
.app__body .more-modal__list .more-modal__row:hover
.app__body .modal .settings-modal .settings-table .settings-content .section-min:hover
.app__body .sidebar--left .team__header
.app__body .sidebar--menu .team__header
.app__body .post-list__timestamp > div
#post-list .post-list-holder-by-time
  background transparent !important

.app__body .sidebar--left .team__header .user__name
.app__body .sidebar--menu .team__header .user__name
.app__body .sidebar--left .team__header .header__info
.app__body .sidebar--menu .team__header .header__info
.app__body .post-list__timestamp > div
.app__body .sidebar--left .nav li.active a
  color #333 !important

::-webkit-scrollbar-thumb
    border-radius 6px

.app__body .sidebar--left a.add-channel-btn
  color #ccc !important

.app__body .sidebar--left .team__header .navbar-right .dropdown__icon
  fill #333 !important

.channel-header
  border-bottom 1px solid #ccc !important

.app__body .date-separator .separator__hr
.app__body .modal-footer, .app__body .modal .custom-textarea
  border-color transparent !important

.app__body .modal .modal-image .modal-image__wrapper>div
  box-shadow 0 0 130px rgba(0,0,0,.5)

.app__body .sidebar--left .nav-pills__container li>a
  transition .5s

.app__body .sidebar--left .nav-pills__container li>a:hover
  background #f2f4f8 !important

#post-create
  background white !important

.post-create__container form
  padding-top 0 !important

.app__body .sidebar--left .nav-pills__container li>h4
.app__body .sidebar--left .add-channel-btn
  color #777 !important

.channel-intro .channel-intro__title
  padding-left 15px

#sidebar-left
#app-content
  background white !important

.app__body .channel-intro .channel-intro__content
.app__body .webhooks__container
  background transparent !important

.search-bar__container
  padding 12px 8px 12px 8px !important

.app__body .sidebar--left .nav-pills__container li a
.app__body .sidebar--left .nav-pills__container li a:hover
.app__body .sidebar--left .nav-pills__container li a:focus
// .app__body .modal .settings-modal .nav-pills>li a
// .app__body .modal .settings-modal .nav-pills>li a:hover
// .app__body .modal .settings-modal .nav-pills>li a:active
  color #555 !important

.row.footer
.signup-header
  display none

.post-image.normal
  background-position center
  background-size cover

.post-image__column
  width 100% !important
  height 177px !important

.search-bar__container .search__form .search-bar
.search-bar__container .search__form
.post-create__container .post-create-body .custom-textarea
  border-radius 5px !important



// mobile

#navbar .navbar-default
  background #fff !important
  border-bottom 1px solid #ccc !important

.sidebar--left .status
  -webkit-filter invert()

#navbar .navbar-default .navbar-brand .dropdown-toggle
  color #333 !important

.app__body #navbar .navbar-default .navbar-brand .heading
  color #333 !important

#navbar .navbar-default .navbar-toggle
  fill #333 !important

#navbar .navbar-default .navbar-toggle .icon-bar
  background #333 !important

#navbar .navbar-default .navbar-brand .description.info-popover
  -webkit-filter invert()
  opacity .7
