/*@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext'

body
  font-family 'Lato', sans-serif !important

// don’t worry, that’s just the logo.
#owncloud
  display none !important

#body-user #header
  background transparent !important
  position absolute !important
  left auto !important
  width 300px !important
  z-index 100 !important
  //search function is part of the header, therefore we shouldn't hide it
//  display none

.header-appname-container
  display none !important

#header #settings
  display none

#header .searchbox input[type="search"]
  position absolute
  top 0
  right 10px
  -webkit-filter invert()

body#body-login
	background #55739A !important

#content-wrapper
  padding-top 0 !important

#controls
#app-sidebar
  top 0 !important

#app-navigation
  width 220px !important
*/