@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext'

body
  font-family 'Lato', sans-serif !important

// don’t worry, that’s just the logo.
#owncloud
  display none !important

#header
  //search function is part of the header, therefore we shouldn't hide it
  /*display none*/
  background-color #55739A !important
 
body#body-login
	background #55739A !important

#content-wrapper
  padding-top 0 !important

#controls
#app-sidebar
  top 0 !important

#app-navigation
  width 220px !important
